.home-sidebar-tags {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.list-item {
    padding: 0.6rem 0.8rem;
    border-radius: 0.4rem;
    cursor: pointer;
    width: 100%;
}

i {
    margin-right: 0.6rem;
    display: inline-flex;
    align-items: center;
}

.hover-list-home:hover {
    background-color: var(--color-hover-blue);
    color: var(--color-primary);
    text-decoration: underline;
}

.home-socials {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
}

.home-socials-single {
    color: var(--icon-color);
    padding: 0.65rem;
    display: flex;
}

.icons-home {
    color: inherit;
    cursor: pointer;
    font-size: 1.3rem;
}

.home-socials-single:hover {
    background-color: var(--color-hover-blue);
    color: var(--color-primary);
    border-radius: 0.4rem;
}

@media screen and (min-width:780px) {
    .sidebar-left {
        display: flex;
        flex-direction: column
    }

}