.home-sidebar-tags {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.list-item {
    padding: 0.6rem 0.8rem;
    border-radius: 0.4rem;
    cursor: pointer;
    width: 100%;
}

i {
    margin-right: 0.6rem;
    display: inline-flex;
    align-items: center;
}

.hover-list-home:hover {
    background-color: var(--color-hover-blue);
    color: var(--color-primary);
    text-decoration: underline;
}

.home-socials {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
}

.home-socials-single {
    color: var(--icon-color);
    padding: 0.65rem;
    display: flex;
}

.icons-home {
    color: inherit;
    cursor: pointer;
    font-size: 1.3rem;
}

.home-socials-single:hover {
    background-color: var(--color-hover-blue);
    color: var(--color-primary);
    border-radius: 0.4rem;
}

@media screen and (min-width:780px) {
    .sidebar-left {
        display: flex;
        flex-direction: column
    }

}

.right-sidebar-menu {
    background-color: var(--color-white);
    border-radius: 7px;
}

.right-sidebar-menu>h2 {
    padding: 0.8rem 1.3rem;
    font-weight: 800;
    font-size: 1.2rem;
    cursor: pointer;
    border-bottom: 2px solid var(--color-border-primary);
}

.right-sidebar-menu>h2:hover {
    color: var(--color-primary);
}

.right-sidebar-menu>ul>li {
    border-bottom: 1px solid var(--color-border-primary);
    padding: 0.6rem 1.3rem;
    font-size: 0.86rem;
    line-height: 1.45rem;
}

.right-sidebar-menu>ul>li:hover {
    color: var(--color-primary);
}