.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  min-width: 0px;
}

.component {
  display: flex;
  margin: 0px;
  flex: 1 1 0%;
  flex-direction: column;
  background-color: var(--color-background);
  width: 100%;
  padding: 1rem;
}

.sub-component {
  background-color: var(--color-white);
  border-radius: 0.4rem;
  padding: 0.75rem;
  width: 100%;
  max-width: 53rem;
  border: 1px solid var(--border-color);
}

.component-pt-5 {
  padding-top: 1.5rem !important;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-3 {
  gap: 0.75rem;
  display: flex;
}

.gap-2 {
  gap: 0.5rem;
  display: flex;
}

.flex-gap-5 {
  row-gap: 1.5rem;
  display: flex;
  flex-direction: column;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.component-center {
  align-items: center;
}

.component-justify {
  justify-content: center;
}

.container-post {
  width: 100%;
}

.container-post>ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container-layout {
  display: flex;
  align-items: flex-start;
  gap: 1.2rem;
  max-width: 80rem;
  width: 100%;
  margin: 0px auto;
}

.container-sidebar {
  display: none;
  max-width: 16rem;
}

.sidebar-right {
  display: none;
  max-width: 19rem;
  border-radius: 1px solid var(--color-border-primary);
}

.sidenav-wrapper {
  position: relative;
  display: none;
}

.sidenav-mobile-wrapper {
  position: relative;
  display: flex;
}

.sidenav-mobile-menu {
  margin-top: 0.7rem;
  width: 100%;
}

.sidenav-mobile-menu-items {
  display: block;
  margin-top: 0.25rem;
  padding: 0.5rem;
  color: var(--color-black-800);
  background-color: var(--color-white);
}

.sidenav-mobile-menu-items:hover {
  border-radius: 0.4rem;
  background-color: var(--color-hover-blue);
  color: var(--color-primary);
}

.sidenav-button {
  position: relative;
  z-index: 1000;
  margin-left: 1rem;
  margin-right: 1rem;
  display: block;
  height: 2rem;
  width: 2rem;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}

.sidenav-button:focus {
  outline: none;
}

.sidenav-handler {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  cursor: default;
  background-color: var(--color-black-800);
  opacity: 0.4;
  display: block;
  z-index: 9998;
}

.sidenav-menu {
  border: 1px solid var(--border-color);
  position: absolute;
  right: 0;
  margin-top: 1rem;
  width: 12rem;
  border-radius: 0.4rem;
  background-color: var(--color-white);
  padding: 0.5rem;
  z-index: 9999;
}

.sidenav-menu-items {
  display: block;
  padding: 0.5rem;
  color: var(--color-black-800);
}

.sidenav-menu-items:hover {
  border-radius: 0.4rem;
  background-color: var(--color-hover-blue);
}

.modal-wrapper {
  position: fixed;
  background: rgba(0, 0, 0, 0.75);
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 5000;
  height: 100%;
}

.modal-box {
  position: absolute;
  height: 11rem;
  width: 22rem;
  background-color: var(--color-white);
  left: calc(50vw - 11rem);
  right: calc(50vw - 11rem);
  top: calc(50vh - 5.5rem);
  bottom: calc(50vh - 5.5rem);
  z-index: 10000;
  border-radius: 0.4rem;
  padding: 1rem;
  cursor: default;
}

.modal-box:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

.modal-wrapper:hover {
  cursor: default;
  color: var(--color-black);
}

.modal-side {
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  font-weight: 900;
}

.modal-flex {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.modal-heading {
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
}

.modal-button {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-white);
  padding: 0.7rem 1rem;
  background-color: var(--btn-bg-red);
  border-radius: 0.3rem;
  width: 90%;
  cursor: pointer;
}

.image {
  height: auto;
  width: 100%;
  display: block;
  background-size: cover;
  background-position: center center;
}

.image-round {
  border-radius: 50%;
  height: 100%;
  object-fit: contain;
}

.link-primary-blue {
  margin: 0 0.3rem;
  color: var(--color-primary);
}

.auth-component {
  background-color: var(--color-white);
  border-radius: 0.4rem;
  padding: 1.5rem;
  width: 100%;
  max-width: 40rem;
  border: 1px solid var(--border-color);
}

.auth-welcome-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
}

.auth-welcome-header-bold {
  font-size: 1.4rem;
  font-weight: 900;
}

.auth--welcome-header-description {
  font-size: 1rem;
  text-align: center;
}

.form-seperation {
  text-align: center;
  font-weight: 700;
  font-size: 1.1rem;
}

.auth-form-fields {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
}

.forgot-header {
  font-size: 1.9rem !important;
}

.input-component {
  width: 100%;
}

.input-label {
  margin-bottom: 0.8rem;
  display: block;
  font-weight: 600;
  color: var(--color-black-800);
}

.input-text {
  width: 100%;
  border-radius: 0.4rem;
  border: 1px solid var(--border-color);
  padding: 0.8rem 1.2rem;
  outline: none;
}

.input-text:focus-within,
.input-text:focus-visible,
.input-text:focus {
  border: 1px solid var(--color-primary);
}

.input-password-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 0rem 0.5rem;
}

.button-primary {
  width: 100%;
  font-weight: 600;
  text-align: center;
  padding: 1.05rem 1.2rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 0.4rem;
  cursor: pointer;
}

.button-secondary {
  font-size: 0.9rem;
  text-align: center;
  padding: 1.05rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
}

.button-secondary:hover {
  background-color: var(--color-hover-blue);
  color: var(--color-primary);
  text-decoration: underline;
}

.button-padding-small {
  padding: 0.8rem 1rem !important;
}

.auth-form-component {
  margin: 1.2rem 0rem 0rem 0rem;
}

.auth-form-header {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
}

.auth-forgot-password {
  font-size: 0.9rem;
  cursor: pointer;
  text-align: right;
  color: var(--color-primary);
}

.loader-button {
  margin: auto;
  width: 100%;
  cursor: not-allowed;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.4rem;
  background-color: var(--color-primary);
  padding: 1.05rem 1.2rem;
  font-weight:
    600;
  color: var(--color-white)
}

.loader-button-svg {
  margin-right: 0.5rem;
  display: inline;
  height: 1.2rem;
  width: 1.2rem;
  animation: spin 1s linear infinite;
  color: var(--border-color);
}

.not-found-header {
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--color-black-900);
}

.not-found-button {
  padding: 0.8rem 0.9rem;
}

.text-primary {
  color: var(--color-primary);
}


.profile-page {
  scroll-behavior: smooth;
  display: block;
  padding: 0rem !important;
}

.profile-user-info {
  background:
    linear-gradient(180deg, var(--color-black) 8rem, transparent 8rem);
}

.user-info-profile {
  padding-top: 2rem;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  max-width: 65rem;
}

.user-info-profile-name-image-bio {
  margin-top: 1.5rem !important;
  border-radius: 0.4rem;
  color: var(--color-black);
  background-color: var(--color-white);
  box-shadow: 0 0 0 1px rgba(25, 25, 25, 0.2);
  overflow-wrap: break-word;
  padding: 0.5rem;
}

.user-info-profile-image-button {
  position: relative !important;
  margin-top: -2rem;
}

.user-info-avatar {
  height: 4rem;
  width: 4rem;
  margin-left: 1rem;
  padding: 0.25rem;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--color-black);
}

.profile-image {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.user-info-follow-edit-button {
  display: flex;
  right: 0;
  top: 1.5rem;
  position: absolute;
  left: 0;
  justify-content: flex-end;
  padding: 1rem 0.5rem 0 0;
}

.button-profile {
  width: max-content;
  padding: 0.55rem 1rem;
}

.user-info-profile-header-bio {
  padding: 1rem;
}

.user-info-header-name {
  font-weight: 900 !important;
  margin-bottom: 0.3rem !important;
  font-size: 1.7rem;
  color: var(--color-black);
  display: inline-block;
  align-items: center;
  text-align: center;
}

.user-info-bio {
  margin-bottom: 0.8rem !important;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  color: var(--color-black-800);
  font-weight: 500;
  font-size: 0.92rem;
}

.user-info-location-portfolio {
  color: var(--color-black-800);
  margin-bottom: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0.85rem;
  gap: 0.4rem;
}

.color-svg {
  fill: currentColor;
  height: 100%;
  width: 100%;
  transform: scale(160%);
}

.user-info-single-item {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  padding: 0.5rem;
  gap: 0.37rem;
  font-size: 0.76rem;
}

.hover-user-info-single:hover {
  color: var(--color-primary) !important;
}

.user-info-education-work {
  font-size: 0.8rem;
  border-top: 1px solid var(--border-color);
  justify-content: space-evenly;
  padding: 0.7rem;
  padding-bottom: 0.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.user-info-education-item>strong {
  color: #717171;
  font-weight: 600;
}

.user-info-education-item>p {
  color: var(--color-black-900);
}

.profile-bottom-left {
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
  display: none;
}

.profile-sidebar-post-container {
  padding-top: 0rem !important;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0rem 1rem 2rem 1rem;
  gap: 1rem;
  max-width: 65rem;
  margin: auto;
}

.profile-bottom-left-menu-items {
  box-shadow: 0 0 0 1px rgba(25, 25, 25, 0.2);
  background-color: var(--color-white);
  border-radius: 7px;
}

.profile-bottom-left-menu-items>h2 {
  padding: 0.5rem 1.3rem;
  font-weight: 800;
  font-size: 1.2rem;
  cursor: pointer;
  border-bottom: 2px solid var(--color-border-primary);
}


.profile-bottom-left-menu-items>ul>li {
  border-bottom: 1px solid var(--color-border-primary);
  padding: 0.4rem 1.3rem;
  font-size: 0.86rem;
  line-height: 1.45rem;
  display: flex;
  align-items: center;
  color: var(--color-black-800);
  gap: 0.5rem;
  word-wrap: break-word;
  word-break: break-word;
}

.profile-svg {
  fill: currentColor;
  height: auto;
  width: 1.3rem;
}

.button-profile-show-more {
  border: 3px solid var(--border-color);
  background-color: var(--color-white);
}

.profile-edit-form-header {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 900;
  margin-bottom: 3rem;
}

.profile-component {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.profile-sub-component {
  background-color: var(--color-white);
  border-radius: 0.4rem;
  padding: 1.5rem;
  width: 100%;
  max-width: 50rem;
  border: 1px solid var(--border-color);
}

.button-width-full {
  width: 100%;
  border: 1px solid var(--border-color);
  display: block !important;
}

.password-filled-profile {
  display: flex;
  flex-direction: column;
}

.button-filled-profile {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button-profile-subcomponent {
  border: none;
  background-color: transparent;
}

.button-profile-subcomponent:hover {
  border: none;
  background-color: transparent;
}

.profile-avatar {
  height: 6rem !important;
  width: 6rem !important;
  display: inline-block;
  border-radius: 50%;
}

.profile-button {
  width: max-content !important;
}

.delete-button {
  background-color: var(--btn-bg-red);
}

.button-margin-2rem {
  margin-top: 2rem;
}

.change-password-password-field {
  display: flex;
  flex-direction: column;
}

.tags-input-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border: 1px solid var(--border-color);
  border-radius: 0.4rem;
  flex-wrap: wrap;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  padding: 0.5rem 1.2rem;
  width: 100%;
}

.tag-input-item {
  align-items: center;
  background: var(--color-primary);
  border-radius: 0.4rem;
  color: var(--color-white);
  display: flex;
  gap: .8rem;
  min-height: 1.8rem;
  justify-content: center;
  padding: 0rem 0.5rem;
  word-wrap: break-word;
  word-break: break-word;
  line-height: 1.6rem;
}

.tag-input-item i {
  background: var(--color-white);
  color: var(--color-primary);
  cursor: pointer;
  border-radius: 50%;
  margin: 0;
}

.input-text-tags {
  width: 100%;
  border-radius: 0.4rem;
  padding: 0.8rem 1.2rem;
  outline: none;
}

.input-text-tags:focus-within,
.input-text-tags:focus-visible,
.input-text-tags:focus {
  border: none;
}

.border-desktop {
  border: 1.5px solid var(--border-color) !important;
  border-left: none !important;
  border-right: none !important;
}


.post-reaction-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--color-white);
  padding: 0.3rem 0.75rem;
  box-shadow: 0 -1px 5px rgb(0 0 0 / 20%);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#paddding-top-3 {
  padding-top: 0.75rem !important;
}

.border-top {
  border-top: 1px solid var(--border-color);
}

.margin-small-profile {
  margin: 0.75rem 0rem;
}

.margin-x-sm {
  margin: 0rem 0.75rem;
}

.post-layout {
  max-width: 78rem;
  margin: 0 auto;
  width: 100%;
  gap: 0;
}

.post-about-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.post-user-info {
  width: 100%;
}

.border-2 {
  border-radius: 0.2rem;
}

.post-single-padding {
  padding: 1.25rem !important;
  padding-bottom: 0.5rem !important;
}

.post-reaction-sidebar {
  max-width: 4rem;
  position: relative;
}

.post-action-icons {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.2rem;
}

.post-profile-info {
  padding-top: 1.1rem;
  width: 100%;
  margin: 0 auto;
}

.post-user-info-profile-name-image-bio {
  margin-top: 1rem !important;
  color: var(--color-black);
  background-color: var(--color-white);
  overflow-wrap: break-word;
  padding: 0.55rem 1rem;
}

.small-padding {
  padding: 0.45rem 0.5rem;
}

.top-21 {
  top: 4.5rem !important;
}

.post-user-info-avatar {
  height: 3.3rem;
  width: 3.3rem;
  margin-top: -2rem;
  margin-left: 0.2rem;
  padding: 0.25rem;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--color-black);
}

.post-profile-bio {
  width: 100%;
}

.margin-top-3 {
  margin-top: 0.5rem;
}

.margin-top-4 {
  margin-top: 0.75rem;
}

.margin-mobile {
  margin-top: 0.75rem !important;
  margin-bottom: 1.5rem !important
}

.max-w-53 {
  max-width: 53rem;
}

.small-text {
  font-size: 0.88rem;
  color: var(--color-black-800);
}

.post-profile-item {
  font-size: 0.7rem;
  margin-top: 0.65rem;
  color: var(--color-black-800);
}

.post-profile-item>p {
  font-size: 0.75rem;
}

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

/* Like */
.post-single-heart {
  border: 2px solid transparent;
}

.post-single-heart:hover {
  background-color: var(--icon-background-like);
  color: var(--icon-color-like);
  position: relative;
  transition: all 0.4s;
}

.post-single-heart:hover::after {
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 99%;
  width: 99%;
  border-radius: 50%;
  padding: 1.2rem;
  position: absolute;
  top: -1.2rem;
  left: -1.2rem;
  z-index: -1;
  transition: all 0.4s;
}

.clicked-like {
  color: var(--icon-color-like);
}

.post-single-heart-liked {
  border: 2px solid var(--icon-color-like);
}

.post-single-heart-liked::after {
  transform: scaleX(1.2) scaleY(1.2);
  opacity: 0;
  background: var(--icon-color-like);
}


/* unicorn */
.post-single-unicorn {
  border: 2px solid transparent;
}

.post-single-unicorn:hover {
  background-color: var(--icon-background-unicorn);
  color: var(--icon-color-unicorn);
  position: relative;
  transition: all 0.4s;
}

.post-single-unicorn:hover::after {
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 99%;
  width: 99%;
  border-radius: 50%;
  padding: 1.2rem;
  position: absolute;
  top: -1.2rem;
  left: -1.2rem;
  z-index: -1;
  transition: all 0.4s;
}

.clicked-unicorn {
  color: var(--icon-color-unicorn);
}

.post-single-unicorn-liked {
  border-color: var(--icon-color-unicorn);
}

.post-single-unicorn-liked::after {
  transform: scaleX(1.2) scaleY(1.2);
  opacity: 0;
  background: #4a5853;
}

/* bookmark */
.post-single-bookmark {
  border: 2px solid transparent;
}

.post-single-bookmark:hover {
  background-color: var(--icon-background-bookmark);
  color: var(--icon-color-bookmark);
  position: relative;
  transition: all 0.4s;
}

.post-single-bookmark:hover::after {
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 99%;
  width: 99%;
  border-radius: 50%;
  padding: 1.2rem;
  position: absolute;
  top: -1.2rem;
  left: -1.2rem;
  z-index: -1;
  transition: all 0.4s;
}

.clicked-bookmark {
  color: var(--icon-color-bookmark);
}

.post-single-bookmark-liked {
  border-color: var(--icon-color-bookmark);
}

.post-single-bookmark-liked::after {
  transform: scaleX(1.2) scaleY(1.2);
  opacity: 0;
  background: var(--icon-color-bookmark);
}

/* all css */
.icons-p-2 {
  padding: 0.4rem;
}

.svg {
  display: flex;
}

.component-no-p-m {
  padding: 0;
}

.text-center {
  text-align: left;
  font-size: 0.9rem;
  font-weight: 500;
}

.radius-50 {
  border-radius: 50%;
}

.justify-between {
  justify-content: space-between;
}

.row-m-col-d {
  flex-direction: column-reverse;
}

.flex-start {
  align-items: flex-start !important;
}

.width-100 {
  width: 100%;
}

.margin-0 {
  margin: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 0 !important;
}

.edit-delete-button {
  background-color: var(--button-edit-delete) !important;
  border: 1px solid rgba(245, 158, 11, 0.1);
  font-size: 0.95rem;
  cursor: pointer;
}

.edit-delete-button:hover {
  background-color: var(--button-hover) !important;
  color: black !important;
  border-radius: 0.2rem !important;
}

.padding-button {
  padding: 0.45rem 0.95rem !important;
}

.padding-top-2 {
  padding-top: 0.5rem;
}

.padding-top-3 {
  padding-top: 0.75rem;
}

.align-start {
  align-items: flex-start !important;
}

.comment-text-area {
  border: 2px solid var(--border-color);
  resize: none;
  height: 7.5rem;
  overflow-y: auto;
  padding: 0.5rem 0.75rem;
  border-radius: 0.2rem;
  font-size: 0.9rem;
}

.reply-text-area {
  height: 6rem;
}

.comment-text-area:focus,
.comment-text-area:focus-visible,
.comment-text-area:focus-within {
  border-color: var(--color-primary);
  border-width: 2px;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.padding-top-7 {
  padding-top: 1.25rem !important;
}

#submit-primary-button {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 0.2rem;
  font-size: 0.95rem;
  cursor: pointer;
  font-weight: 600;
}

.comment-single {
  border: 1px solid var(--border-color);
  height: fit-content;
  padding: 0.5rem 0.75rem;
  border-radius: 0.2rem;
  font-size: 0.86rem;
  line-height: 1.3rem;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: row !important;
}

.align-center {
  align-items: center;
}

.font-m-bold {
  font-size: 1.2rem;
  font-weight: 600;
}

.font-sm {
  font-size: 0.93rem;
}

.color-mid-gray {
  color: var(--color-black-800);
}

.mb-8 {
  margin-bottom: 1.5rem !important;
}

.max-w-50 {
  max-width: 50rem;
}

.post-section {
  width: 100%;
}

#font-8 {
  font-size: 1.2rem;
}

.cursor-pointer {
  cursor: pointer;
}

.height-45 {
  height: 5.5rem;
}

.padding-top-small {
  padding-top: 0.5rem !important;
}

.icon-padding {
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
}

.sub-comment {
  margin-left: 1.4rem;
}

.font-85 {
  font-size: 0.85rem !important;
}

.tags-grid-container {
  width: 100%;
  display: grid !important;
  padding-bottom: 0.5rem !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  gap: 0.75rem !important;
}

.single-tag {
  border-top: 1rem solid var(--border-top-color);
  border-radius: 0.4rem;
  background-color: var(--color-white);
  color: var(--color-black-900);
  box-shadow: 0 0 0 1px rgba(23, 23, 23, 0.1);
  overflow-wrap: break-word;
  padding: 0.75rem;
  padding-top: 0.5rem !important;
  position: relative;
}

.single-tag-header {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

.single-tag-hash {
  background: transparent;
  color: var(--color-black);
  border-radius: 0.35rem;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  flex-wrap: nowrap;
  padding: 0.25rem 0.5rem;
  border: 1px solid transparent;
  gap: 0.25rem;
  font-size: 1.125rem;
  font-weight: 700;
}

.single-tag-hash:hover {
  max-width: max-content;
  border: 1px solid var(--hover-color);
}

.single-tag-hash-single {
  color: var(--tag-color);
}

.single-tag-description {
  margin-bottom: 0.5rem;
  color: var(--color-black-800);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 4.5rem;
}

.single-tag-number-post {
  font-size: 0.87rem;
  margin-bottom: 0.75rem;
  color: var(--color-black-800);
}


.tag-hash {
  background: transparent;
  color: var(--color-black-800);
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  flex-wrap: nowrap;
  gap: 0.25rem;
  font-size: 1.3rem;
  font-weight: 700;
}

.tag-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tag-follow {
  font-weight: 600;
  text-align: center;
  padding: 0.4rem 1rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 0.35rem;
  cursor: pointer;
}

.max-56 {
  max-width: 56rem;
}

.flex-column {
  flex-direction: column;
}

.header-container {
  font-size: 1.2rem;
  font-weight: 600;
}

.bell-navbar {
  position: absolute;
  left: 45%;
  top: -20%;
  background-color: var(--color-primary);
  color: var(--color-white);
  height: 1rem;
  width: 1rem;
  display: flex;
  border-radius: 50%;
}

.bell-navbar-text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
}

.notification-wrapper {
  width: 100%;
  max-width: 45rem;
  display: flex;
  align-items: center;
  border-top: 1rem solid var(--border-top-color);
  border-radius: 0.3rem;
  background-color: var(--color-white);
  color: var(--color-black-900);
  box-shadow: 0 0 0 1px rgba(23, 23, 23, 0.1);
  overflow-wrap: break-word;
  padding: 0.75rem;
  position: relative;
}

.notification-avatar {
  margin-right: 1rem;
  height: 2.7rem;
  width: 2.7rem;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}

.notification-details {
  font-weight: 600;
  font-size: 0.95rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.details-comment {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.notification-details-body {
  overflow: hidden;
  word-break: break-all;
  color: var(--color-black-800);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 4.5rem;
}

.markdown-body .highlight pre,
.markdown-body pre {
  padding: 0px !important;
  overflow: unset !important;
}

.codeStyle {
  border-radius: 0.2rem;
}

.height-full {
  height: 100% !important;
}

.width-fit {
  width: fit-content;
}

.button-secod {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  background-color: inherit;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* between mobile and tab  */
@media screen and (min-width:463px) {
  .auth-form-component {
    margin: 2rem 1rem 0rem 1rem;
  }

}

@media screen and (min-width:563px) {

  .sidenav-wrapper {
    display: block;
  }

  .sidenav-mobile-wrapper {
    display: none;
  }
}

@media screen and (min-width:700px) {
  .post-reaction-bottom {
    position: sticky;
    display: grid;
    gap: 1.5rem;
    justify-content: stretch;
    width: 4rem;
    box-shadow: none;
    height: 100%;
    background-color: inherit;
  }

  .post-action-icons {
    flex-direction: column;
    gap: 0rem;
  }

  .grid-post-layout {
    grid-template-columns: 4rem 5fr;
  }

  .component-no-p-m {
    padding: 1rem;
  }

  .border-desktop {
    border: 1.5px solid var(--border-color) !important;
  }

  .row-m-col-d {
    flex-direction: row;
  }

  .width-max {
    width: max-content;
  }

  .radius-small-desktop {
    border-radius: 0.2rem;
  }

  .post-sticky-4px {
    position: sticky !important;
    top: 4.5rem;
  }

  .padding-top-2 {
    padding-top: 0.75rem;
  }

  .padding-top-3 {
    padding-top: 1rem;
  }

  .not-found-header {
    font-size: 2rem;
  }

}

@media screen and (min-width:760px) {

  .tags-grid-container {
    padding-left: 0;
    padding-right: 0;
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }

  .tag-hash {
    font-size: 1.6rem;
  }

  .tag-follow {
    padding: 0.6rem 1.2rem;
  }
}

/* after tab and between normal desktop  */
@media screen and (min-width:780px) {
  .container-sidebar {
    display: block;
  }

  .auth-component {
    padding: 3rem;
  }

  .auth-welcome-header-bold {
    font-size: 1.8rem;
  }

  .profile-sidebar-post-container {
    flex-direction: row;
  }

  .user-info-profile {
    padding-top: 4rem;
  }

  .user-info-avatar {
    padding: 0.5rem;
  }

  .user-info-profile-name-image-bio {
    margin-top: 0.5rem !important;
    text-align: center;
  }

  .user-info-profile-image-button {
    margin-top: -3.5rem;
    margin-bottom: 0.5rem;
  }

  .user-info-avatar {
    height: 7rem;
    width: 7rem;
    margin-left: 0rem;
  }

  .user-info-follow-edit-button {
    top: 3rem;
  }

  .user-info-header-name {
    margin-bottom: 0.75rem !important;
    font-size: 1.9rem;
  }

  .user-info-bio {
    margin-bottom: 0.9rem !important;
    color: var(--color-black-900);
    font-size: 1.05rem;
  }

  .user-info-location-portfolio {
    justify-content: center;
  }

  .user-info-single-item {
    font-size: 0.85rem;
  }

  .user-info-education-work {
    padding: 0.9rem;
  }

  .profile-bottom-left {
    width: 36%;
    gap: 1.5rem;
    padding: 0.5rem;
    display: flex !important;
  }

  .profile-bottom-left-menu-items>h2 {
    padding: 0.8rem 1.3rem;
  }

  .profile-bottom-left-menu-items>ul>li {
    padding: 0.6rem 1.3rem;
  }

  .button-profile-show-more {
    display: none;
  }

  .password-filled-profile {
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
  }

  .sub-component {
    padding: 1.5rem;
  }

  .post-layout {
    gap: 0.5rem;
  }

  .post-single-padding {
    padding: 1rem 2.7rem !important;
  }

  .margin-small-profile {
    margin: 1.1rem 0rem;
  }

  .mb-8 {
    margin-bottom: 2.5rem !important;
  }

  .sub-comment {
    margin-left: 1.7rem;
  }

  .single-tag {
    padding: 1rem !important;
  }

  .notification-wrapper {
    padding: 1rem !important;
  }

  .tags-grid-container {
    gap: 0.85rem !important;
  }

}

@media screen and (min-width :980px) {
  .post-about-section {
    flex-direction: row;
  }

  .post-user-info {
    min-width: 17.5rem;
    height: 100%;
    width: 100%;
    max-width: 20rem;
  }
}

/* larger and medium desktop  */
@media screen and (min-width: 1024px) {
  .sidebar-right {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

}


@media screen and (min-width:1280px) {
  .post-user-info {
    min-width: 20rem;
    height: 100%;
    width: 100%;
    max-width: 20rem;
  }

  .tags-grid-container {
    grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  }
}