@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*  setting all default */
*,
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit
}

a {
  color: inherit;
  text-decoration: inherit
}

a:focus {
  outline: none;
}

button,
input,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  margin: 0;
  padding: 0
}

button,
select,
textarea {
  text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button,
textarea {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none
}

menu,
ol,
ul,
div,
a {
  list-style: none;
  margin: 0;
  padding: 0
}

input:focus,
input:focus-visible,
input:focus-within,
textarea,
textarea:focus,
textarea:focus-visible,
textarea:focus-within {
  outline: none;
}

/* scrollbar  */
body::-webkit-scrollbar {
  width: 12px;
  background-color: hsl(225deg, 25%, 95%);
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: hsl(225deg, 12%, 40%);
  ;
  border: 2px solid hsl(225deg, 25%, 95%);
  ;
}

body::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: transparent;
}

#root {
  box-sizing: border-box;
  margin: 0px auto;
  min-width: 0px;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* colors  */

:root {
  --color-primary: #3b49df;
  --color-black: #000;
  --color-black-600: rgb(113, 113, 113);
  --color-black-800: rgb(75 85 99);
  --color-black-900: #242424;
  --color-svg: #717171;
  --color-white: #fff;
  --color-gray: #404040;
  --color-mid-gray: #6b7280;
  --color-half-gray: rgba(82, 82, 82, 1);
  --color-background: rgb(243 244 246);
  --color-hover-blue: rgba(59, 73, 223, 0.1);
  --color-hover-grey: rgba(0, 0, 0, 0.035);
  --color-light-green: rgba(26, 214, 67, 0.10);
  --color-mid-green: #1ad643;
  --bg-primary: #f5f5f5;
  --btn-bg-secondary: #bdbdbd;
  --btn-bg-third: #d6d6d7;
  --btn-bg-secondary-hover: #3d3d3d;
  --btn-bg-red: #b91c1b;
  --icon-color: rgb(64, 64, 64);
  --icon-color-like: #dc2625;
  --icon-background-like: rgb(220, 38, 38, 0.1);
  --icon-like-background: rgba(220, 38, 38, 0.1);
  --icon-color-unicorn: #169668;
  --icon-background-unicorn: rgb(5, 150, 105, 0.1);
  --icon-color-bookmark: #4f45e5;
  --icon-background-bookmark: rgb(79, 70, 229, 0.1);
  --icon-bg-hover-like: #f4e2e1;
  --icon-bg-hover-unicorn: #e1ece7;
  --icon-bg-hover-bookmark: #f5f5f5;
  --color-border-primary: #efefef;
  --border-color: #e5e5e5;
  --button-hover: rgb(245, 236, 222);
  --button-edit-delete: rgba(245, 158, 11, 0.1);
  --box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  --box-shadow-2: 0 0 0 1px rgba(0, 0, 0, 0.15);
}